<div class="container">
  <h1>Contact List</h1>
  <button kendoButton [routerLink]="['/contact-create']">
    <span class="k-icon k-i-plus"></span>
  </button>
  <kendo-grid [data]="contacts">
    <kendo-grid-column field="name" title="Name" [width]="200">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a [routerLink]="['/contact-detail', dataItem.id]">{{dataItem.name}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="city" title="City" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="email" title="Email" [width]="200"></kendo-grid-column>
  </kendo-grid>
</div>
